*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
body{
  background-image: url(image/jungle.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.one{
  padding: 20px 10px;
  border-radius: 20px;
}
#notaccount{
  display: none;
}
.contbox{
    display: flex;
    /* border: solid red 2px; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    object-fit: fill;
    background-repeat: no-repeat;
    background-size: cover;
}
.left,.right{
    width:40vw;
    height: 85vh;
    border: solid rgb(241, 230, 124) 1px;
    text-align: center;
    flex-wrap: wrap;
    backdrop-filter: blur(4px);
    border-radius: 3px;
}
hr{
  left: -17px;
  width: 9vw;
  margin-left: 30px;
  display: inline-block;
  color: black;
  font-size: xx-large;
  font-weight: bolder;
  position: relative;
}
span{
    position: relative;
    top: -13px;
    /* left: 13px; */
}
.btn{
    width: 25vw;
    padding: 10px 20px;
    border-radius: 20px;
    /* background-color: rgb(240, 98, 98); */
}
img{
    width: 100%;
    height: 100%;
    object-fit:fill;
}
.x{
    width:25vw ;
    height: 5vh;
    padding: 10px 20px;
    background-color: rgb(241, 230, 124) 1px;
}

/* signup page */
.small{
    width: 25vw;
}

.right,.left {
    position: relative;
  }
  
  
  .btn1 {
    position: absolute;
    top: 85%;
    left: 33%;
    z-index: 1;
    /* width: 15vw; */
    padding: 10px 20px;
    border-radius: 25px;
    
  }
  .signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  display: none;
}
  .login{
    display: block;
  }
  .btn2l{
    display: none;
  }
  .btn2r{
    display: block;
  }
  /* this i am going to use when i will take care fro small screen */
  .uncess{
    display: none;
  }
  button:hover{
    background-color: black;
    color: white;
    border: solid red 1px;
    transition: all .3 s;
  }
  .btn:hover{
    background-color: black;
    color: white;
    border: solid red 1px;
    transition: all .3s;
  }
  u:hover{
    cursor: pointer;
    font-size: large;
    text-decoration: underline;
  }
 
  @media(max-width:1050px){
.btn1 {
  left: 25%;
}
  }

  @media (min-width: 650px) and (max-width: 851px) {
    .left,.right{
      width:48vw;
      height: 85vh;
      border: solid  rgb(241, 230, 124) 1px;
      text-align: center;
      flex-wrap: wrap;
  }
  hr{
    width: 13vw;
  }
  .x{
    width: 38vw;
  }
  .btn-primary{
    width: 38vw;
  }
  }
  @media (min-width: 650px) and (max-width: 750px) {
    .btn1 {
      left: 20%;
    }
    hr{
      width: 13vw;
    }
    
  }
  
@media(max-width:650px){
 
  /* .uncess{
    display: inline-block;
    align-self: flex-start;
    position: absolute;
    margin-top: 10px;
  } */
  /* .small2{
  display: none;
  }
  .small1{
     display: none;
  } */
 
  .btn2l,.btn2r{
    display: none;
  }
  .left,.right{
    width:80vw;
    height: 88vh;
    border: solid rgb(240, 240, 115) 2px;
    text-align: center;
    flex-wrap: wrap;
    backdrop-filter:none;
    position: relative;
  }
  .right{
    border: solid rgb(241, 230, 124) 1px;
  }
  .x{
    width: 45vw;
  }
  .extra{
    width: 45vw;
  }
  hr{
    width: 13vw;
  }
  #notaccount{
    display: inline;
  }
  a{
    color: black;
  }
 .signup{
  display: block;
 }
 .right{
  display: none;
 }
  
}

/* targeting for cell phone */
@media(max-width:450px){
  .left,.right{
    /* position: absolute; */
    width:90vw;
    height: 88vh;
    border: solid rgb(241, 230, 124) 1px;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .x{
    width: 80vw;
  }
  .extra{
    width: 80vw;
  }
 
  .right{
    border: solid rgb(12, 12, 12) 1px;
  }
  hr{
    width: 13vw;
  }
 
}



  

  



